---
import Banner from '../components/Banner.astro';
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title='Bem Vindo!'>
    <Banner heading='Conheça os nossos produtos' text='docinho docinho docinho docinho docinho docinho' />
<h2 class="py-96">Hello, World</h2>
</MainLayout>

