---
import { Image } from 'astro:assets';
import Banner5 from '../assets/images/banner5.jpg'

// general components
export interface Props {
    heading: string;
    text?: string;
    showExtra?: boolean;
}

const {
    heading = "Heading Texttttt",
    text = "afgajkjkcnbsoufhous iohfsdlanf flshdfljnsdoign klsjfhiasjipoas aslfhpoasf klasfh",
    showExtra = false,
} = Astro.props as Props;
---

<Image 
src={Banner5} 
alt='Buque' 
class="w-screen h-auto object-fill opacity-50" 

/>
<section id="bg-img" class="h-auto">
    <div id="texto-titulo">
        <h1 id="heading" class="text-6xl mb-5 font-bold pb-7 text-slate-700">
            {heading}
        </h1>
        <p id="text-headind">
            {text}
        </p>
    </div>

    {
        showExtra && (
            <>
                <div class="">
                    <!-- <img class="logos" src={} alt="" /> -->
                    <!-- <img class="logos-small" src={} alt="" /> -->
                </div>

                <p class="text-slate-700 text-center font-light">
                    <small>
                        Esta aba é sobre blablabla
                    </small>
                </p>
            </>
        )
    }
</section>

<style>
 
</style>
