---
import { Icon } from "astro-icon";
---

<footer class="bg-gradient-to-b from-fuchsia-100 to-fuchsia-200">
    <hr class="my-6 border-fuchsia-300 max-sm:mx-auto lg:my-7 mx-48" />
    <div class="mx-auto w-full p-4 py-6">
        <div class="md:flex md:justify-center object-center">
            <div class="grid grid-cols-3 gap-8 sm:gap-28 max-sm:grid-cols-2 m-1">
                <div>
                    <h2
                        class="mb-6 text-lg font-bold tracking-tight text-neutral-700 cursor-default"
                    >
                        Descubra nossos produtos:
                    </h2>
                    <ul class="font-medium">
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="buque"
                                class="w-5 object-center pb-1"
                            />
                            <a
                                href="https://www.linkedin.com/in/rafael-marques-e-torres/"
                                target="_blank"
                                class="hover:underline pl-1">Buquês</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="caixinha1"
                                class="w-5 object-center"
                            /> 
                            <a
                                href="https://discord.gg/qTQuNUScDa"
                                class="hover:underline pl-1">Caixinhas</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="trufa"
                                class="w-5 object-center"
                            /> 
                            <a
                                href="https://discord.gg/qTQuNUScDa"
                                class="hover:underline pl-1">Trufas</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="caixinha2"
                                class="w-5 object-center"
                            /> 
                            <a
                                href="https://discord.gg/qTQuNUScDa"
                                class="hover:underline pl-1">Brigadeiros</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="max-sm:border-l border-fuchsia-300 max-sm:px-8">
                    <h2
                        class="mb-6 text-lg font-bold tracking-tight text-neutral-700 cursor-default"
                    >
                        Contato:
                    </h2>
                    <ul class="font-medium">
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon name="whatsapp" class="w-5 object-center" /> 
                            <a
                                href="https://github.com/RaphMt117"
                                target="_blank"
                                class="hover:underline pl-1">Whatsapp</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="instagram"
                                class="w-5 object-center"
                            /> 
                            <a
                                href="https://www.instagram.com/_rafaellmt/"
                                target="_blank"
                                class="hover:underline pl-1">Instagram</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <Icon
                                name="link"
                                class="w-5 object-center"
                            /> 
                            <a
                                href="https://www.instagram.com/_rafaellmt/"
                                class="hover:underline pl-1">Links</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-lg font-bold tracking-tight text-neutral-700 cursor-default"
                    >
                        Feito Com
                    </h2>
                    <ul class="font-medium">
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <!-- <Icon
                                name="astroIcon"
                                class="w-5 object-center pt-1"
                            /> -->
                            <a
                                href="https://astro.build/"
                                target="_blank"
                                class="hover:underline pl-1">Astro</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-700 hover:text-gray-900"
                        >
                            <!-- <Icon
                                name="tailwindIcon"
                                class="w-5 object-center pt-1"
                            />  -->
                            <a
                                href="https://tailwindcss.com/"
                                target="_blank"
                                class="hover:underline pl-1">Tailwind</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="my-6 border-fuchsia-300 max-sm:mx-auto lg:my-7 mx-96" />

        <div class="sm:flex items-center justify-center">
            <span class="text-sm text-neutral-700 sm:text-center"
                >© 2023 <a
                    href="https://github.com/raphmt117"
                    target="_blank"
                    class="text-neutral-700 hover:text-gray-900 hover:underline"
                    >Rafael Marques</a
                >. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>
