---
import {Icon} from 'astro-icon'
---

<footer class='bg-gradient-to-b from-fuchsia-100 to-fuchsia-200'>
    <hr class='my-6 border-fuchsia-300 max-sm:mx-auto lg:my-7' />
    <div class='mx-auto p-4 py-6'>
        <div class='md:flex md:justify-center justify-center'>
            <div class='grid grid-cols-3 gap-8 sm:gap-28 max-sm:grid-cols-2 m-1 lg:px-40'>
                <div class='min-w-max px-9'>
                    <h2
                        class='mb-6 text-lg font-bold tracking-tight text-neutral-700 cursor-default'>
                        Descubra novos <br />sabores:
                    </h2>
                    <ul class='font-medium'>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='buque'
                                class='w-5 object-center pb-1'
                            />
                            <a
                                href='#'
                                target='_blank'
                                class='hover:underline pl-1'
                                >Buquês</a
                            >
                        </li>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='caixinha1'
                                class='w-5 object-center'
                            />
                            <a
                                href='#'
                                class='hover:underline pl-1'
                                >Presentes</a
                            >
                        </li>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='trufa'
                                class='w-5 object-center'
                            />
                            <a
                                href='#'
                                class='hover:underline pl-1'
                                >Trufas</a
                            >
                        </li>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='caixinha2'
                                class='w-5 object-center'
                            />
                            <a
                                href='#'
                                class='hover:underline pl-1'
                                >Brigadeiros</a
                            >
                        </li>
                    </ul>
                </div>
                <div class='max-sm:border-l border-fuchsia-300 max-sm:px-8 px-10'>
                    <h2
                        class='mb-6 text-lg font-bold tracking-tight text-neutral-700 cursor-default pb-7'>
                        Contato:
                    </h2>
                    <ul class='font-medium'>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='whatsapp'
                                class='w-5 object-center'
                            />
                            <a
                                href='https://wa.me//553194948160?text=Oii,%20te%20achei%20pelo%20site!%20Gostaria%20de%20realizar%20uma%20encomenda.'
                                target='_blank'
                                class='hover:underline pl-1'
                                >Whatsapp</a
                            >
                        </li>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='instagram'
                                class='w-5 object-center'
                            />
                            <a
                                href='https://www.instagram.com/buquechocorosas/'
                                target='_blank'
                                class='hover:underline pl-1'
                                >Instagram</a
                            >
                        </li>
                        <li class='mb-4 flex text-neutral-700 hover:text-gray-900'>
                            <Icon
                                name='link'
                                class='w-5 object-center'
                            />
                            <a
                                href='/links'
                                class='hover:underline pl-1'
                                >Links</a
                            >
                        </li>
                    </ul>
                </div>
                <div class='w-56 min-w-max px-8'>
                    <a
                        href='#navbar'
                        class='scroll-smooth border flex justify-center rounded-full bg-fuchsia-300 p-2'>
                        <h2
                            class='text-lg font-bold tracking-tight text-neutral-700 cursor-pointer px-1 text-center'>
                            Topo
                        </h2>
                        <Icon
                            name='seta'
                            class='w-5 object-center text-neutral-700 text-center'
                        />
                    </a>
                </div>
            </div>
        </div>

        <hr class='my-6 border-fuchsia-300 max-sm:mx-auto lg:my-7 mx-96' />

        <div class='sm:flex items-center justify-center'>
            <span class='text-sm text-neutral-700 sm:text-center'
                >© 2023 <a
                    href='https://github.com/raphmt117'
                    target='_blank'
                    class='text-neutral-700 hover:text-gray-900 hover:underline'
                    >Rafael Marques</a
                >. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>
