<!-- component -->
<header class="text-white shadow-lg max-md:flex max-sm:block "> 
    <div class="container mx-auto flex justify-center h-24">
        <a href="" class="flex items-center justify-center">
            <img
                class="h-16 max-sm:hidden"
                src="../assets/images/logo-buque.png"
                alt="Logo Buque Choco Rosas"
            />
            <span class="ml-4 uppercase font-black max-sm:hidden">Buque Choco-Rosas</span>
        </a>
        <nav class="contents font-medium text-lg">
            <ul class="mx-auto flex items-center">
                <li class="sm:p-5 xl:p-8 active">
                    <a href="">
                        <span>Início</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="">
                        <span>Quem Somos</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="">
                        <span>Produtos</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="">
                        <span>Links</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="">
                        <span>Contato</span>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="border rounded-3xl font-semibold px-8 py-2 hover:bg-lavanda"
            >Entre em Contato</button
        >
    </div>
</header>
