---
import {Image} from 'astro:assets'
import Docinho1 from '../assets/images/docinho1.jpg'
import {buques} from '../products'

---

<div class='w-8/12 lg:w-9/12 max-lg:w-5/6 mx-auto'>
    <div
        class='grid md:grid-cols-4 max-md:grid-cols-2 max-sm:grid-cols-1 max-sm:px-14 mx-2 gap-12 drop-shadow-[0px_8px_15px_rgba(192,38,211,0.2)] pt-20 max-md:pt-2'>
        {
            buques.map((buque) => (
                <a href='/produtos/Docinho1'>
                    <Image
                        class='rounded'
                        src={`../assets/images/${buque.image}`}
                        alt='docinho 1'
                        width='300'
                        height='300'
                    />
                    <h2>{buque.nome}</h2>
                </a>
            ))
        }
    </div>
</div>

